<h3> Do you want to blog the following content?</h3>

<%= form_with(model: @blog,url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p><strong>Content:</strong>
    <%= @blog.content %>
  </p>
  <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "To post" %>
<% end %>
<%= form_with(model:@blog, url:new_blog_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "Return", name: "back" %>
  <div class="actions">
  <%= form.submit "Yes" %>
  <%= form.submit "No", name: 'back' %>
  </div>
<% end %>
