<h3> Do you want to blog the following content?</h3>

<%= form_with(model: @blog,url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p><strong>Content:</strong>
    <%= @blog.content %>
  </p>
  <div class="actions">
  <%= form.submit "Yes" %>
  <%= form.submit "No", name: 'back' %>
  </div>
<% end %>
